<section class="main">
    <div class="logos pt-3 pb-2 pt-lg-5 pb-lg-4 row text-center justify-content-center mb-5">
        <div class="col-4 col-sm">
            <img src="{{ asset('images/5logos-region.png') }}"
                 alt="Collecté dans ta région">
            <p>Collecté dans ta région</p>
        </div>
        <div class="col-4 col-sm">
            <img src="{{ asset('images/5logos-2vie.png') }}"
                 alt="Offre une 2ème vie à ton tél">
            <p>Offre une 2ème vie à ton tél</p>
        </div>
        <div class="col-4 col-sm">
            <img src="{{ asset('images/5logos-origine.png') }}"
                 alt="Reconditionné avec les pièces d'origine">
            <p>Reconditionné avec les pièces d'origine</p>
        </div>
        <div class="col-4 col-sm">
            <img src="{{ asset('images/5logos-neuf.png') }}"
                 alt="Qualité fonctionnelle et esthétique proche du neuf !">
            <p>Qualité fonctionnelle et esthétique proche du neuf&#8239;!</p>
        </div>
        <div class="col-4 col-sm">
            <img src="{{ asset('images/5logos-garantie.png') }}"
                 alt="Garantie 12 mois minimum">
            <p>Garantie 12 mois minimum</p>
        </div>


    </div>
</section>
