{% extends 'base.html.twig' %}

{% block title %}
    Points de collecte
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('bipers') }}
{% endblock %}
{% block body %}

<div class="row" id="title">
    <h1 class="title-page"><span>Points de collecte</span></h1>
</div>

<main class="container mt-5">

    <div class="row" id="bipers">
        <p>
            Rendez-vous sur un point de collecte pour rencontrer notre équipe ainsi que nos différents étudiants de la region !
            N'oublie pas d'estimer ton téléphone avant de venir nous voir via l'application pour une estimation précise
            ou sur notre site pour une estimation approximative
        </p>
    </div>

    <div class="row" id="collectes">
        <div class="col-sm-12">
            <h3 class="text-center title_inter">
                Les points de collectes
            </h3>
            <div>
                <p>
                    Voici les collectes actuellement organisées par BipBip :
                </p>
                <div>
                    <table>
                        <thead>
                        <tr class="text-center head_row">
                            <th class="head_tab">Partenaire de collecte</th>
                            <th class="head_tab">Adresse</th>
                            <th class="head_tab">Date de collecte</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="body_tab text-center">
                                <img
                                        src="{{ asset('images/chronopost.png') }}"
                                        alt="chronopost"
                                        height="50px"
                                        width="25%"
                                >
                            </td>
                            <td class="body_tab text-center">
                                
                            </td>
                            <td class="body_tab text-center"></td>
                        </tr>
                        {% for collect in collects %}
                            <tr>
                                <td class="body_tab text-center">{{ collect.collector.organismName }}</td>
                                <td class="body_tab text-center">
                                    {{ collect.collector.organismAddress }},
                                    {{ collect.collector.organismPostcode }}
                                    {{ collect.collector.organismCity }}
                                </td>
                                <td class="body_tab text-center">{{ collect.dateCollect.date | date('d/m/Y') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="row text-center mt-5">
                    <div class="mx-auto">
                        <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20220.479443764885!2d3.0689462!3d50.69099309999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1592993614866!5m2!1sfr!2sfr"
                                width="600"
                                height="450"
                                frameborder="0"
                                style="border:0;"
                                allowfullscreen=""
                                aria-hidden="false"
                                tabindex="0">
                        </iframe>
                    </div>
                    <div class="ml-auto mr-auto">
                        <h4 class="text-center col-6 mx-auto font-weight-bold">
                            Tu souhaites proposer un nouveau site de collecte. Clique là !<br>
                        </h4>
                        <a href="{{ path('add_message') }}" class="secondary-button">Propose un lieu<br>ou une date ici !</a>
                        <div class="content_image mt-5">
                            <a href="/images/photos_1.jpg" target="_blank"><img src="/images/photos_1.jpg" alt="" class="m-1 h-25 w-25"></a>
                            <a href="/images/photos_3.jpg" target="_blank"><img src="/images/photos_3.jpg" alt="" class="m-1 h-25 w-25"></a>
                            <a href="/images/photos_2.jpg" target="_blank"><img src="/images/photos_2.jpg" alt="" class="m-1 h-25 w-25"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row" id="plaquettes">
        <div class="col-12 text-center">
            <h3 class="title_inter">
                Devenir site de collecte
            </h3>
            <div class="plaquette">
                <a href="{{ plaquette }}" class="btn btn-info" target="_blank">Voir la plaquette</a>
            </div>

        </div>
    </div>



</main>

{% endblock %}
