
 <h5 class="text-center col-6 mx-auto font-weight-bold mt-5 ">Galerie photo<br></h5>
    <div class="content_image mt-5 text-center">
        <a href="{{ asset('images/photos_1.jpg') }}" target="_blank"><img src="{{ asset('images/photos_1.jpg') }}" alt="" class="m-1 h-50 w-25"></a>
        <a href="{{ asset('images/photos_3.jpg') }}" target="_blank"><img src="{{ asset('images/photos_3.jpg') }}" alt="" class="m-1 h-50 w-25"></a>
        <a href="{{ asset('images/photos_2.jpg') }}" target="_blank"><img src="{{ asset('images/photos_2.jpg') }}" alt="" class="m-1 h-50 w-25"></a>
    </div>
