{% extends 'base.html.twig' %}

{% block title %}BipBip - Ton Green Mobile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <main class="home">
       <div class="header">
           <h1>
               <span class="blue-font">BipBip rachète ton tél et en fait</span> le 1er mobile recyclé et connecté
               <span class="blue-font">aux bons plans de ta région</span>
           </h1>
           <img src="/images/perso-hipster.jpg" alt="BipBip rachète ton tél">
       </div>

        <section class="steps">
            <article>
                <div id="step1" class="step">
                    <img src="/images/estime.png" alt="La bulle message" class="step-logo">
                    <div>
                        <h3>Estime ton tél</h3>
                    </div>
                </div>
            </article>

            <article>
                <div id="step1" class="step">
                    <img src="{{ asset('images/vends.png') }}" class="step-logo" alt="Vends ton tél">
                    <div>
                        <a href="{{ path('boutique') }}">
                            <h3>Vends ton tél</h3>
                        </a>
                    </div>
                </div>
            </article>

            <article>
                <div id="step3" class="step">
                    <img src="/images/achète.png" class="step-logo">
                    <div>
                        <h3>Achète un tél</h3>
                    </div>
                </div>
            </article>
        </section>

        <section class="bail-bipbip">
           <div class="we-are">
               <img src="/images/qui-sommes-nous.png" alt="Qui sommes-nous">
               <p>BipBip est une marque qui organise des colllectes de téléphones dans la région des Hauts de France.
               Nous avons pour but la dépollution et le recyclage des mobiles dans notre région en te faisant gagner de l'argent.
               </p>
               <div class="buble-text">
                   En savoir plus?
               </div>
           </div>

            <div class="we-are">
                <img class="planet" src="/images/ta-planète.png" alt="La planète">
                <p id="p-planet">BipBip a pour mission de faire le ménage dans les Hauts-de-France en proposant de recycler
                    tous les téléphones usagés ou unitilisés à l'aide des associations étudiantes qui nous accueillent et nous
                    accompagnent en ouvrant des points de collecte. C'est l'occaion pour nos partenaires de collecte
                    et partenaires locaux de se faire connapitre davantage dans notre région.
                </p>
                <div id="bul-planet" class="buble-text">
                    En savoir plus?
                </div>
            </div>
        </section>

        <section class="combien-vaut">
            <h2 class="primary-title">Combien vaut ton mobile ?</h2>
            <div class="row justify-content-center p-2">
                <div class="col-8 text-center">
                    <p>A l'aide de l'application <span class="font-weight-bold">BipBip Test</span>,<br>
                        ton mobile sera évalué avec expertise pour donner le meilleur de lui-même</p>
                </div>
            </div>
            <div class="row justify-content-center p-5">
                <div class="col-3 text-center">
                    <a href="{{ path('home') }}" class="primary-button">
                        Je télécharge l'appli
                    </a>
                </div>
                <div class="col-3 text-center">
                    <a href="{{ path('estimations_new') }}" class="primary-button">
                        Estimation en ligne
                    </a>
                </div>
            </div>
            <div class="row justify-content-center m-0 p-0 pt-5 pb-5 bg-primary-color">
                <div class="col-5 text-center">
                       image
                </div>
                <div class="col-5 text-center">
                        1520 tél collectés
                </div>
            </div>
        </section>
        <h2 class="primary-title">T'en veux plus ?</h2>
        <div class="social-networks">
            <a href="#" target="_blank" title="Page Facebook">
                <img src="{{ asset('images/logo-fb.png') }}" alt="Page Facebook" />
            </a>
            <a href="#" target="_blank" title="Instagram">
                <img src="{{ asset('images/logo-insta.png') }}" alt="Instagram" />
            </a>
            <a href="#" target="_blank" title="LinkedIn">
                <img src="{{ asset('images/logo-linkedin.png') }}" alt="LinkedIn" />
            </a>
        </div>
    </main>
{% endblock %}
