{% extends 'base.html.twig' %}

{% block title %}BipBip - Ton Green Mobile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <main class="home">

        <section>
            <div class="row justify-content-center pr-3 pl-3">
                <div class="col col-md-4 text-center">
                    <a href="{{ path('vends') }}">
                        <img src="{{ asset('images/btn-vends.png') }}" alt="Vends ton tél" class="img-fluid img-home">
                    </a>
                </div>
                <div class="col col-md-4 text-center">
                    <a href="{{ path('boutique_index') }}">
                        <img src="{{ asset('images/btn-achete.png') }}"
                             alt="Achète un tél"
                             class="img-fluid img-home">
                    </a>
                </div>
            </div>
        </section>

        <div class="row pl-3 pr-3 pt-3 header">
            <div class="col-7 p-3 text-center">
                <img src="{{ asset('images/bipbiprachete.png') }}"
                     alt="BipBip rachète ton tél et en fait le premier mobile recyclé et connecté aux bons plans de ta région"
                     class="img-fluid">
                {# <h5 class="header-text"><span class="color-primary">BipBip rachète ton tél et en fait</span> le 1<sup>er</sup> mobile recyclé et connecté
                    <span class="color-third">aux bons plans de ta région</span></h5> #}
            </div>
            <div class="col-5 p-3">
                <img src="{{ asset('images/photo-home.png') }}" alt="BipBip rachète ton tél" class="img-fluid">
            </div>
        </div>

        <section class="constat">
            <div class="row text-center">
                <h2 class="primary-title col-12">Le constat</h2>
                <p class="col-12">
                    Il y a dans les Hauts-de-France…
                </p>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-3 text-center">
                    <img src="{{ asset('images/constat-1.png') }}"
                         alt="2 téléphones portables en hibernation par personne"
                         class="img-fluid img-constat">
                    <p>
                        <span class="accroche_primaire"><span class="mot_cle">XXX</span><br></span> de téléphones en hibernation dans les tiroirs de notre région
                    </p>
                </div>
                <div class="col-12 col-sm-3 text-center">
                    <img src="{{ asset('images/constat-2.png') }}"
                         alt="115000 étudiants dans la métropole Lilloise"
                         class="img-fluid img-constat">
                    <p class="">
                        <span class="accroche_primaire"><span class="mot_cle">115 000</span><br> étudiants</span> dans la métropole lilloise, souhaitant agir et s’enrichir en devenant bipers
                    </p>
                </div>
                <div class="col-12 col-sm-3 text-center">
                    <img src="{{ asset('images/constat-3.png') }}"
                         alt="17 incubateurs / accélérateurs de startup dansles Hauts de France"
                         class="img-fluid img-constat">
                    <p>
                        <span class="accroche_primaire"><span class="mot_cle">662</span><br>  Starts-up innovantes</span> et qui souhaitent se développer dans notre région
                    </p>
                </div>
            </div>
        </section>

        <section>
            <div class="row comment-marche mt-3 pb-3 align-items-center">
                <div class="col-12">
                    <h2 class="primary-title">Comment ça marche ?</h2>
                </div>

                <div class="col-12 col-lg-6 text-center">
                    <img src="{{ asset('images/video.png') }}" alt="video" class="video">
                </div>

                <div class="col-12 col-lg-6">
                    <div class="row align-items-center p-2">
                        <div class="col-2 text-right">
                            <img src="{{ asset('images/1.png') }}" alt="1">
                        </div>
                        <div class="col">
                            Teste ton téléphone sur
                            <a href="{{ path('new_estimation') }}">
                                <span class="explain-text-color">notre site</span>
                            </a>
                            ou sur notre
                            <a href="{{ path('home') }}">
                                <span class="explain-text-color">appli</span>
                            </a>
                            et découvre notre offre de rachat
                        </div>
                    </div>
                    <div class="row align-items-center p-2">
                        <div class="col-2 text-right">
                            <img src="{{ asset('images/2.png') }}" alt="2">
                        </div>
                        <div class="col">
                            Après la création de ton compte
                            <a href="{{ path('show_collect') }}"><span class="explain-text-color">
                    choisis un point de collecte</span></a>
                        </div>
                    </div>
                    <div class="row align-items-center p-2">
                        <div class="col-2 text-right">
                            <img src="{{ asset('images/3.png') }}" alt="3">
                        </div>
                        <div class="col">
                            Présente-toi au RDV muni de ta pièce d'identité
                        </div>
                    </div>
                    <div class="row align-items-center p-2">
                        <div class="col-2 text-right">
                            <img src="{{ asset('images/4.png') }}" alt="4">
                        </div>
                        <div class="col">
                            Notre expert vérifie ton smartphone, procède à l'effacement de tes données, te
                            fournit un bon de cession et procède au paiement.
                        </div>
                    </div>
                    <div class="row align-items-center p-2">
                        <div class="col-2 text-right">
                            <img src="{{ asset('images/5.png') }}" alt="5">
                        </div>
                        <div class="col">
                        <span class="explain-text-color">Récupère ton argent<br>
                        Fais un don</span> de la valeur de ton tél pour une association<br>
                            <span class="explain-text-color">profite d'un bon de réduction</span> sur l'achat
                            d'un bipbip mobile
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-2 text-right">
                            <img src="{{ asset('images/coche.png') }}" alt="Bonne action" class="img-fluid">
                        </div>
                        <div class="col">
                            Tu as fait une bonne action pour ta planète !
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include('home/5pictos.html.twig') %}

        <section>
            <div class="row justify-content-center phones-collected">
                <div class="col-6 offset-sm-2 col-sm-3 text-right">
                    <img src="{{ asset('images/phones-vert-rouge.png') }}" alt="Téléphones collectés" class="img-phone">
                </div>
                <div class="col-6 col-sm-7 text-center">
                    <p class="recolted-number pt-2">1520</p>
                    <p class="recolted-text">téléphones<br>collectés<br> par nos
                        <span class="font-weight-bold">bipers</span>
                    </p>
                </div>
            </div>
        </section>

        <section class="seconde-vie">
            <div class="row">
                <div class="col-12">
                    <h2 class="primary-title">La seconde vie selon
                        <img src="{{ asset('images/bipbip-title.png') }}"
                             alt="BipBip"
                             id="bipbip-logo"></h2>
                </div>
            </div>
        </section>

        <section class="logos-bas">
            <div class="row justify-content-center p-3">
                <div class="col-6 col-sm col-md-3 text-center">
                    <img src="{{ asset('images/logos-economique.png') }}" alt="Economique">
                    <p>Economique</p>
                    <p class="small-text">Gagne facilement de l'argent en faisant une bonne action</p>
                </div>
                <div class="col-6 col-sm col-md-3 text-center">
                    <img src="{{ asset('images/logos-profitable.png') }}" alt="Profitable">
                    <p>Profitable</p>
                    <p class="small-text">Vends, achète et recycle en toute sécurité avec notre partenaire Pumpkin</p>
                </div>
                <div class="col-6 col-sm col-md-3 text-center">
                    <img src="{{ asset('images/logos-environnemental.png') }}" alt="Environnemental">
                    <p>Environnemental</p>
                    <p class="small-text">Une bonne action pour ta planète</p>
                </div>
            </div>
        </section>

        <section>
            <div class="photography row text-center pr-2 align-content-center pl-md-5 p-md-5 pt-3 pb-3 pt-md-0 pb-md-0">
                <div class="col-12 col-sm">
                    <img src="{{ asset('images/photo-1.png') }}"
                         alt="Smartphones contrôlés et certifiés localement">
                </div>
                <div class="col-12 col-sm">
                    <img src="{{ asset('images/photo-2.png') }}"
                         alt="Emploi local et énergie étudiante">
                </div>
                <div class="col-12 col-sm">
                    <img src="{{ asset('images/photo-3.png') }}"
                         alt="Sécurité et confidentialité">
                </div>
            </div>
        </section>
    </main>
{% endblock %}
