{#<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="{{ path('new_estimation') }}" title="Vends ton tél, Cah et Rapide">
                <img src="{{ asset('images/selfie1c.png') }}" class="d-block w-100" alt="Estime ton téléphone !">
            </a>
        </div>
        <div class="carousel-item">
            <a href="{{ path('add_message') }}" title="Organise une collecte">
                <img src="{{ asset('images/selfie2c.png') }}" class="d-block w-100" alt="Organise une collecte">
            </a>
        </div>
        <div class="carousel-item">
            <a href="{{ path('organisms_index') }}" title="Découvre les partenaires">
                <img src="{{ asset('images/selfie3c.png') }}" class="d-block w-100" alt="Découvre nos partenaires !">
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
#}
