{% extends 'base.html.twig' %}

{% block title %}Inscris toi !{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="fourth-button">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
