{% block stylesheets %}
    {{ encore_entry_link_tags('editPartner') }}
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
            {{ form_start(form, {'class': 'form-group'}) }}
            {{ form_widget(form.organismName, {'attr': {'class': 'form-control mt-3', 'placeholder': 'Nom du partenaire', 'label': 'Nom du partenaire', 'required': true}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control mt-3', 'placeholder': 'Description', 'label': 'Description', 'required': true}}) }}
            {{ form_widget(form.organismLink, {'attr': {'class': 'form-control mb-3 mt-3', 'placeholder': 'Lien', 'label': 'Lien', 'required': true}}) }}
            {{ form_widget(form.logo, {'attr': {'class': 'form-control mt-3', 'placeholder': 'Logo', 'label': 'Logo', 'required': false}}) }}
            {{ form_widget(form.organismAddress, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Adresse', 'label': 'Adresse', 'required': true}}) }}
            {{ form_widget(form.organismCity, {'attr': {'class': 'form-control mt-3 mb-3', 'placeholder': 'Ville', 'label': 'Ville', 'required': true}}) }}
            {{ form_widget(form.organismPostcode, {'attr': {'class': 'form-control mt-3 mb-3', 'placeholder': 'Code postal', 'label': 'Code postal', 'required': true}}) }}
            {{ form_widget(form.organismPhone, {'attr': {'class': 'form-control mt-3 mb-3', 'placeholder': 'Téléphone', 'label': 'Téléphone', 'required': true}}) }}
            {{ form_widget(form.organismStatus, {'attr': {'class': 'form-control mt-3 mb-3', 'placeholder': 'Statut', 'label': 'Statut', 'required': true}}) }}
            {{ form_help(form.organismStatus) }}

        </div></div></div>

{% endblock %}
