{% extends 'admin/index.html.twig' %}

{% block title %}Nouveau partenaire{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
    {{ encore_entry_link_tags('newPartner') }}
{% endblock %}

{% block body %}
    <h1 class="addTitle">Ajouter un partenaire</h1>

    {{ include('organisms/_form.html.twig') }}
    <button class="secondary-button">Ajouter</button>
    {{ form_end(form) }}

    <a class="secondary-button" id="newLink" href="{{ path('organisms_index') }}">Retour à la liste</a>
{% endblock %}
