{% extends 'base.html.twig' %}

{% block title %}Organisms{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('partnerPage') }}
{% endblock %}

{% block body %}

    <main class="partnerPage">


        <img src="{{ organism.logo }}" alt="logo yuka">

        <p class="status">{{ organism.organismStatus }}</p>

        <h3 >Description</h3>

        <p>{{ organism.description }}</p>

        <p><a href="{{ organism.organismLink }}">Visiter le site</a></p>

        <p>{{ organism.organismAddress }}</p>

        <p>{{ organism.organismCity }}</p>

        <p>{{ organism.organismPostcode }}</p>

        <p>{{ organism.organismPhone }}</p>

        <div id="clickLink">

        <a href="{{ path('organisms_index') }}">back to list</a>
        <br>
        <a href="{{ path('organisms_edit', {'id': organism.id}) }}">edit</a>

    {{ include('organisms/_delete_form.html.twig') }}
        </div>

    </main>
{% endblock %}
