{% extends 'admin/index.html.twig' %}

{% block title %}Nouveau collecteur{% endblock %}

{% block body %}
    <h1>Ajout d'un collecteur</h1>

    {{ form_start(registrationCollectorForm) }}
        {{ form_row(registrationCollectorForm.organism, { 'label': 'Organisme Collecteur associé' }) }}
        <a href="{{ path('organisms_new') }}" class="fourth-button">Ajouter un organisme collecteur</a>
        {{ form_row(registrationCollectorForm.firstname, { 'label': 'Prénom' }) }}
        {{ form_row(registrationCollectorForm.lastname, { 'label': 'Nom' }) }}
        {{ form_row(registrationCollectorForm.address, { 'label': 'Adresse' }) }}
        {{ form_row(registrationCollectorForm.postcode, { 'label': 'Code Postal' }) }}
        {{ form_row(registrationCollectorForm.city, { 'label': 'Ville' }) }}
        {{ form_row(registrationCollectorForm.phoneNumber, { 'label': 'N° de téléphone' }) }}
        {{ form_row(registrationCollectorForm.email, { 'label': 'Email' }) }}
        {{ form_row(registrationCollectorForm.password, { 'label': 'Mot de passe' }) }}

        <button class="fourth-button">Valider le collecteur</button>
    {{ form_end(registrationCollectorForm) }}
{% endblock %}
