{% extends 'base.html.twig' %}

{% block title %}Notre histoire - BipBip{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('histoire') }}
{% endblock %}

{% block body %}

    <div class="title-vends row justify-content-center p-3">
        <img src="{{ asset('/images/bandeauNotreHistoire.png') }}" alt="Notre_histoire">
    </div>

    <div class="col-12 col-lg-8 mx-auto form p-4">
        <img src="{{ asset('images/video.png') }}" alt="video" class="videoNatacha">
    </div>


    <main class="container">
        <div class="row">
            <div class="col-12 col-lg-10 col-sm-3 mx-auto form p-4">
                <div class="d-flex flex-row justify-content-around ">
                    <div class="col-2 col-lg-2 col-sm-2">
                        <img class="logo" src="{{ asset('images/btn-achete.png') }}" alt="logo">
                    </div>
                    <div class="text col-6 col-lg-6 text-left col-sm-2">
                        <p>
                            Amener sur Lille des points de collectes de smartphone qui vont permettre de <br>
                            - Faire un geste pour l'environnement <br>
                            - Mettre de l'argent facilement dans ta poche grâce à un circuit de distribution avec peu d'intermédiare
                            <br>
                            - Créer de l'emploi régional à l'aide de l'énergie étudiante de la Métropole Lilloise
                        </p>
                        <p><strong>L'étape suivante : <br></strong>
                            Donner vie à des BipBip mobile en mettant en oeuvre des actions locales ! <br>
                        </p>
                    </div>
                </div>
                <p>Au plus nous collectons de téléphones, plus les prix de nos BipBip mobile pourront être avantageux tout en gardant sa qualité absolue !<br></p>
                <p>On compte sur toi pour collecter un <strong>MAXIMUM</strong> de téléphones et de mettre la machine en marche!</p>
            </div>

                {{ include('home/constat.html.twig') }}

        </div>
        </div>
    </main>
{% endblock %}
