{% extends 'base.html.twig' %}

{% block title %}La team BipBip{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('histoire') }}
{% endblock %}

{% block body %}
<main class="team-page">
            <h1 class="title-page"><span>Notre team</span></h1>
        <div class="mt-3 ml-3">
            <p>C’est bien connu les Nordistes sont conviviaux...<br></p>
            <p> On te laisse en savoir un peu plus sur notre équipe et ses valeurs !</p>
        </div>
        <h1 class="third-title mt-3 mb-3">Notre team du quotidien</h1>
        <div class="row justify-content-center">
            <div class="col-6 col-sm-5 col-md-4 col-lg-4 text-justify">
                <img class="img-fluid" src="{{asset('images/team-natacha.png')}}" alt="Natacha">
                <p class="mt-3">
                    Bonne vivante aussi bien au travail que dans la vie de tous les jours, son rire ne passera pas inaperçu.
                    Elle sait gérer l’équipe autour d’un bon café, c’est elle l’ADN du projet.
                </p>
            </div>
            <div class="col-6 col-sm-5 col-md-4 col-lg-4 text-justify">
                <img class="img-fluid" src="{{asset('images/team-paul.png')}}" alt="Paul">
                <p class=" mt-3">
                    Son calme légendaire cache une puissance technique, <br>qui fait trembler les plus grands de ce monde.
                </p>
            </div>

       <div class="col-12 justify-content-between">
           <h1 class="third-title mt-3 mb-3">Notre énergie étudiante</h1>
       </div>
            <div class="col-6 col-sm-6 col-lg-4 col-xl-4">
                <img class="for-4 img-fluid m-4" src="{{asset('images/team-gautier.png')}}" alt="Gautier">
                <p class="mt-3 text-justify">
                    Toujours de bonne humeur notre étudiant de l’EDHEC a plus d’un tour dans son sac.
                    Il dégaine le contact aussi vite que son ombre.
                </p>
            </div>
            <div class="col-6 col-sm-6 col-lg-4 col-xl-4">
                <img class="for-4 img-fluid m-4" src="{{asset('images/team-clothilde.png')}}" alt="Clothilde">
                <p class="mt-3 text-justify">
                    Notre petite blonde en alternance, pleine de vie et d’envies elle anime nos réseaux.
                    Sa douceur n’a d’égal que son sourire, elle saura te redonner un coup de boost.
                </p>
            </div>
            <div class="col-6 col-sm-6 col-lg-4 col-xl-4">
                <img class="for-4 img-fluid m-4" src="{{asset('images/team-clement.png')}}" alt="Clement">
                <p class="mt-3 text-justify">
                </p>
            </div>
            <div class="col-6 col-sm-6 col-lg-4 col-xl-4 ">
                <img class="for-4 img-fluid m-4" src="{{asset('images/team-wilders.png')}}" alt="Wilders">
                <p class="mt-3 text-justify">
                    Nos 5 étudiants en développement web de la Wild Code School ont su donner vie à notre superbe site internet.
                    On se souviendra de nos réunions en chaussettes et d’une équipe exprime le meilleur d’eux même.
                    A travers les différentes personnalités de chacun nous avons su travailler main dans la main.
                </p>
            </div>
            <div class="col-6 col-sm-6 col-lg-4 col-xl-4 ">
                <img class="for-4 img-fluid m-4" src="{{asset('images/team-ifag.png')}}" alt="IFAG">
                <p class="mt-3 text-justify">
                    Nos futurs managers de l’IFAG ont su nous donner un coup de pouce pour rendre notre projet encore plus innovant.
                </p>
            </div>
            <div class="col-6 col-sm-6 col-lg-3 col-xl-4 ">
                <a href="{{ path('recrute') }}"><img class="for-4 img-fluid m-4" src="{{asset('images/team-redirection-recrute.png')}}" alt="Onrecrute"></a>
                <p class="mt-3 text-justify">
                </p>
            </div>

            <div class="col-12">
                <h1 class="third-title mt-3 mb-3">Nos accompagnateurs experts</h1>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-xl-3 text-center">
                <img class="for-4 img-fluid m-1" src="{{asset('images/expert.png')}}" alt="expert">
                <p class="mt-3 text-justify">
                    On se rappellera des brainstormings avec Juliette qui ont donné naissance à la marque BipBip
                </p>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-xl-3 text-center">
                <img class="for-4 img-fluid m-1" src="{{asset('images/expert-gd-link.png')}}" alt="gd-link">
                <p class="mt-3 text-justify">
                    Aussi énergique que directe, elle va droit au but. Le management et la mode n’ont aucun secret pour elle.
                </p>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-xl-3 text-center">
                <img class="for-4 img-fluid m-1" src="{{asset('images/expert-corinne.png')}}" alt="Corinne">
                <p class="mt-3 text-justify">
                    Aussi détendue que bienveillante, elle est toujours dispo pour donner vie à nos projets.
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-xl-3 text-center">
                <img class="for-4 img-fluid m-1" src="{{asset('images/team-angel.png')}}" alt="Angel">
                <p class="mt-3 text-justify"></p>
            </div>
        </div>
</main>
{% endblock %}
