{{ form_start(form) }}
<div class="offset-sm-2 col-sm-6 offset-sm-2 mx-auto">
    {{ form_widget(form, {'label': 'questions'}) }}
</div>
<div class="offset-sm-2 col-sm-8 offset-sm-2 mx-auto">
    {{ form_row(form, {'label': 'Reponses'}) }}
</div>
    {{ form_widget(form) }}
    <button class="fourth-button">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
