{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('faq') }}
{% endblock %}

{% block title %} Foire Aux Questions {% endblock %}

{% block body %}
    <main id="faq">

            <h1 class="primary-title"> Foire Aux Questions </h1>
                <h2 class="categories">
                    {% for category in categories %}
                        <a class="fourth-button" href="{{ path('faq_category') }}">{{ category.name }}</a>
                    {% endfor %}
                </h2>
        {% if is_granted("ROLE_ADMIN") %}
            <a class="fourth-button add-button" href="{{ path('faq_new') }}">Ajouter</a>
        {% endif %}

    </main>
{% endblock %}
{%  block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('faq') }}
{% endblock %}
