{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('faq') }}
{% endblock %}

{% block title %} Foire Aux Questions {% endblock %}

{% block body %}
    <main id="faq">
        <h1 class="primary-title">
            Foire Aux Questions
        </h1>
        <div class="row p-3 justify-content-center">
            {% if faqs is defined %}
                <a id="all-categories" class="faq-category col-2 col-lg-1 text-center p-3 m-1 justify-content-center align-items-center" href="{{ path('faq_index') }}">
                    Toutes les questions
                </a>
            {% endif %}
            {% for categ in categories %}
                {% if category is defined and categ == category %}
                    {% else %}
                <a class="faq-category col-2 col-lg-1 text-center p-3 m-1 justify-content-center align-items-center" href="{{ path('faq_category', {'id': categ.id }) }}">
                    {{ categ.name }}
                </a>
                {% endif %}
            {% endfor %}
        </div>

        {% if faqs is defined %}
            <h2 class="secondary-title text-center">{{ category.name }}</h2>
            {% for faq in faqs %}
            <div class="menu-faq">
                <article class="question">{{faq.question}}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="fourth-button" href="{{ path('faq_edit', { 'id': faq.id} ) }}">
                            Modifier
                        </a>
                    {% endif %}
                </article>
                <article class="answer">{{faq.answer}} </article>
            </div>
            {% endfor %}
        {% else %}
            {% for faq in faqContent %}
                <div class="menu-faq">
                    <article class="question">{{faq.question}}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="fourth-button" href="{{ path('faq_edit', { 'id': faq.id} ) }}">
                                Modifier
                            </a>
                        {% endif %}
                    </article>
                <article class="answer">{{faq.answer}} </article>
                </div>
            {% endfor %}
        {% endif %}
    </main>

{% endblock %}
{%  block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('faq') }}
{% endblock %}
