{% extends 'admin/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block title %} Foire Aux Questions {% endblock %}

{% block body %}
    <main id="mainFaq">
        <h1 class="primary-title"> Foire Aux Questions </h1>
        <a class="primary-button addFaq" href="{{ path('faq_new') }}">Ajouter</a>

        <table class="tableFaq">

            <thead class="head-table">
               <tr>
                   <td>Questions</td>
                   <td></td>
                   <td></td>
               </tr>
            </thead>

            {% for faq in faqContent %}

                <tbody>
                <tr>
                    <td class="questionFaq">{{faq.question}} </td>
                    <td><a class="fourth-button editFaq" href=" {{ path('faq_edit', { 'id': faq.id} ) }}">Modifier</a></td>
                    <td class="deleteFaq">{{ include('faq/_delete_form.html.twig') }}</td>
                </tr>
                </tbody>
            {% endfor %}

        </table>


    </main>
{% endblock %}
