{% extends 'admin/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block title %} Foire Aux Questions {% endblock %}

{% block body %}
    <main class="mainFaq">
        <h1 class="third-title text-center mt-3"> Foire Aux Questions </h1>

        <a class="primary-button add" href="{{ path('faq_new') }}">Ajouter</a>

        <table class="tableFaq">

            {% for faq in faqContent %}
                <tbody>
                    <tr>
                        <td class="questionFaq">{{faq.question}} </td>
                        <td class="questionFaq"><a class="fourth-button" href=" {{ path('faq_edit', { 'id': faq.id} ) }}">Modifier</a></td>
                        <td class="questionFaq">{{ include('faq/_delete_form.html.twig') }}</td>
                    </tr>
                </tbody>
            {% endfor %}

        </table>
    </main>
{% endblock %}
