{% extends 'base.html.twig' %}

{% block title %}Administration BipBip{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adminHomePage') }}
{% endblock %}

{% block header %}
<header>
    <div class="card-id">
        <ul>
            <li>{{ app.user.firstname }} {{ app.user.lastname }} -
                <span>
                    {% for role in app.user.roles|slice(0,1) %}
                        {% if role == 'ROLE_ADMIN' %}
                        Administrateur
                        {% else %}
                        Collecteur
                        {% endif %}
                    {% endfor %}
                </span>
            </li>
            <li class="date">{{"now"|date('d/m/Y')}} - <a href="{{ path('app_logout') }}">Déconnexion</a></li>
        </ul>
        <h1 class="titleAdmin">Bienvenue sur l'interface d'administration</h1>
        <a href="{{ path('home') }}">
            <div>
                <img src="{{ asset('/images/logo-bipbip.png') }}" alt="Retour BipBip">
                <p>Retour sur le site Bip Bip</p>
            </div>
        </a>
    </div>
</header>
{#
<div id="nameSearch">
    <label for="search_nameSearch">Rechercher</label>
    <input type="text" id="search_nameSearch">
    <div class="resultSearch">
    </div>
</div>
#}

{% if app.user.roles[0] == "ROLE_ADMIN" %}
    <nav class="menu-admin mt-2">
        <ul class="icon-menu">
            <li class="bar-title">
                <h2 class="title">Estimations</h2>
                <div class="block">
                    <div>
                        <a href="{{ path ('estimations_uncollected_index') }}">A collecter</a>
                        <a href="{{ path('estimations_collected_index') }}">Collectées</a>
                        <a href="{{ path('estimations_unfinished_index') }}">Inachevées</a>
                        <a href="{{ path ('estimations_index') }}">Toutes</a>
                    </div>
                </div>
            </li>
            <li class="bar-title">
                <h2 class="title">Gestion</h2>
                <div class="block">
                    <div>
                        <a href="{{ path('admin_organisms_index') }}">Partenaires</a>
                        <a href="{{ path('collectors_index') }}">Collecteurs</a>
                        <a href="{{ path('collects_index') }}">Collectes</a>
                        <a href="{{ path('matrice_upload') }}">Matrice</a>
                        <a href="{{ path('admin_faq_index') }}">FAQ</a>
                        <a href="{{ path('users_anon') }}">Anonymisation</a>
                    </div>
                </div>
            </li>
            <li class="bar-title">
                <h2 class="title">Documents</h2>
                <div class="block">
                    <div>
                        <a href="{{ path ('bdc_index') }}">Bons de cessions</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
{% endif %}
<div>
    <section class="resultSearch"></section>
</div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center mt-1 alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger text-center mt-1 alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}{% endblock %}

{%  block javascripts %}
    {{ encore_entry_script_tags('adminHomePage') }}
{% endblock %}
