{% extends 'base.html.twig' %}

{% block title %}Administration {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block header %}
<header>
    <div class="card-id">
        <ul>
            <li>{{ app.user.firstname }} {{ app.user.lastname }} -
                <span>
                    {% for role in app.user.roles|slice(0,1) %}
                        {% if role == 'ROLE_ADMIN' %}
                        Administrateur
                        {% else %}
                        Collecteur
                        {% endif %}
                    {% endfor %}
                </span>
            </li>
            <li class="date">{{"now"|date('d/m/Y')}} - <a href="{{ path('app_logout') }}">Déconnexion</a></li>
        </ul>
        <h1 class="titleAdmin">Bienvenue sur l'interface d'administration</h1>
        <a href="{{ path('home') }}">
            <div>
                <img src="/images/logo-bipbip.png">
                <p>Retour sur le site Bip Bip</p>
            </div>
        </a>
    </div>
</header>

{% for message in app.flashes('success') %}
    <div class="alert alert-success text-center">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('danger') %}
    <div class="alert alert-danger text-center">
        {{ message }}
    </div>
{% endfor %}

<div class="form-group" id="search-bar">
    <label for="search-user"></label>
    <input class="form-control" type="text" id="search-user" value="" placeholder="Rechercher"/>
</div>

<nav class="menu-admin">
    <ul class="icon-menu">
        <li class="estimations">
            <h2 class="title">Estimations</h2>
            <div class="block">
                <div>
                    <a href="{{ path ('estimations_uncollected_index') }}">Non collectées</a>
                    <a href="{{ path('estimations_collected_index') }}">Collectées</a>
                    <a href="{{ path('estimations_unfinished_index') }}">Inachevées</a>
                </div>
            </div>
        </li>
        <li class="management">
            <h2 class="title">Gestion</h2>
            <div class="block">
                <div>
                    <a href="{{ path('organisms_index') }}">Partenaires</a>
                    <a href="{{ path('organisms_new') }}">Collecteurs</a>
                    <a href="{{ path('organisms_index') }}">Collectes</a>
                    <a href="{{ path('register_collector') }}">Matrice</a>
                    <a href="{{ path('register_collector') }}">FAQ</a>
                </div>
            </div>
        </li>
        <li class="officialDocuments">
            <h2 class="title">Documents</h2>
            <div class="block">
                <div>
                    <a href="{{ path ('bdc_index') }}" class="officialDocumentsBc">Bons de cessions</a>
                    <a href="#" class="officialDocumentsCi">Cartes d'identitées</a>
                </div>
            </div>
        </li>
    </ul>
</nav>
{% endblock %}


{% block footer %}{% endblock %}

{%  block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

