{% extends 'admin/index.html.twig' %}

{% block title %}Documents{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('adminHomePage') }}
{% endblock %}

{% block body %}

    <main>
        <h2>Les documents de : {{ user.lastname }} {{ user.firstname }}</h2>
        <ul>
            {% for estimation in user.estimations %}
            <li>Model : {{ estimation.model }}</li>
            <li>Prix estimé : {{ estimation.estimatedPrice }}</li>
        </ul>

    {% endfor %}
    </main>

{% endblock %}
{%  block javascripts %}
    {{ encore_entry_script_tags('adminHomePage') }}
{% endblock %}
