<div class="container">
    <div class="row">
        <div class="col-10 mx-auto text-center form p-4">
            {{ form_start(form) }}
            {{ form_row(form.brand, {'attr': {'class': 'form-control mb-5'}}) }}
            {{ form_widget(form.model, {'attr': {'class': 'form-control mb-3', 'placeholder': ''}}) }}
            {{ form_widget(form.capacity, {'attr': {'class': 'form-control mb-3', 'placeholder': ''}}) }}
            {{ form_widget(form.color, {'attr': {'class': 'form-control mb-3', 'placeholder': ''}}) }}
            {{ form_widget(form.liquid_damage, {'attr': {'class': 'form-control mb-3', 'placeholder': ''}}) }}
            {{ form_widget(form.screenCracks, {'attr': {'class': 'form-control mb-3', 'placeholder': ''}}) }}
            {{ form_widget(form.casingCracks, {'attr': {'class': 'form-control mb-3', 'placeholder': ''}}) }}
            {{ form_widget(form.batteryCracks, {'attr': {'class': 'form-control mb-3', 'placeholder': ''}}) }}
            {{ form_widget(form.buttonCracks, {'attr': {'class': 'form-control mb-3', 'placeholder': ''}}) }}
            {{ form_row(form.submit, {'label': 'Valider', 'class': 'btn btn-primary'}) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>