{% extends 'base.html.twig' %}
{% block body %}

    <div class="row justify-content-center">
        <div class="col col-lg-8">

            <div class="title-vends row justify-content-center p-3">
                <img src="{{ asset('images/estim_title.png') }}" alt="Estime ton tél">
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 class="primary-title text-left">
                        <img class="img-fleche mr-lg-2" src="{{ asset('images/fleche_droite.png') }}" alt="→">Voici quelques questions...</h1>
                    <p>Pour nous aider à estimer la valeur de ton téléphone, sois honnête sur sa description pour en
                    connaître sa valeur réelle</p>
                </div>
            </div>

            <section class="brand">
                <div class="row">
                    <div class="col-12 text-center p-5">
                        <span class="estim-round-bubble">Quelle est la marque de ton mobile&#8239;?</span>
                    </div>
                    {% for brand in brands %}
                        <div class="col mx-auto text-center p-1">
                    <p class="grey-button brand" id="{{ brand.brand }}" href="{{ path('estimation_brand', {'brand':brand.brand}) }}">{{ brand.brand }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-12 mx-auto text-center form p-4">
                        <a class="grey-button" href="{{ path("autres") }}">Autre marque</a>
                    </div>
                </div>
            </section>

            <section id="model" style="display:none;">
                <div class="row">
                    <div class="col-12 text-center p-5">
                        <span class="estim-round-bubble">Quel est le modèle&#8239;?</span>
                    </div>
                    {% for model in models %}
                        <div class="col mx-auto text-center p-1">
                            <a class="grey-button" href="{{ path('estimation_brand', {'brand':model.model}) }}">{{ model.model }}</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-12 mx-auto text-center form p-4">
                        <a class="grey-button" href="{{ path("autres") }}">Autre modèle</a>
                    </div>
                </div>
            </section>

        </div>
    </div>
{% endblock %}

{%  block javascripts %}
    <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script>
        // au clic sur une marque ça lance le processus
        $('.brand').click(function(){
        const brand = $(this).attr('id');
        // et ça lance
        $.ajax({
            type: "POST",
            url: "{{ path('model_id') }}",
            data: {brand: brand},
            success : function(data){
                console.log(data);
                const models = data;
                // et ça show le modele
                $('#model').show();
                // $('#model').load("{{ path('new_estimation') }}",models);
            },
        });
        });
    </script>
{% endblock %}