{% extends 'base.html.twig' %}
{% block body %}

    <div class="row justify-content-center">
        <div class="col col-lg-8">

            <div class="title-vends row justify-content-center p-3">
                <img src="{{ asset('images/estim_title.png') }}" alt="Estime ton tél">
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 class="primary-title text-left">
                        <img class="img-fleche mr-lg-2" src="{{ asset('images/fleche_droite.png') }}" alt="→">Voici quelques questions...</h1>
                    <p>Pour nous aider à estimer la valeur de ton téléphone, sois honnête sur sa description pour en
                    connaître sa valeur réelle</p>
                </div>
            </div>

            <section id="brand">
                <div class="row">
                    <div class="col-12 text-center p-5">
                        <span class="estim-round-bubble">Quelle est la marque de ton mobile&#8239;?</span>
                    </div>
                    {% for brand in brands %}
                        <div class="col mx-auto text-center p-1">
                    <p class="grey-button brand" id="{{ brand.brand }}" href="{{ path('estimation_brand', {'brand':brand.brand}) }}">{{ brand.brand }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-12 mx-auto text-center form p-4">
                        <a class="grey-button" href="{{ path("autres") }}">Autre marque</a>
                    </div>
                </div>
            </section>

            <section>
                <div class="row">
                    <div class="col-12 mx-auto text-center p-4">
                        <div id="patience"></div>
                    </div>
                </div>
            </section>

            <section id="model" style="display:none;">
                {% block models %}
                <div class="row">
                    <div class="col-12 text-center p-5">
                        <span class="estim-round-bubble">Quel est le modèle&#8239;?</span>
                    </div>
                        <div id="model-js" class="col mx-auto text-center p-1">
                        </div>
                </div>
                <div class="row">
                    <div class="col-12 mx-auto text-center form p-4">
                        <a class="grey-button" href="{{ path("autres") }}">Autre modèle</a>
                    </div>
                </div>
                {% endblock %}
            </section>

        </div>
    </div>
{% endblock %}

{%  block javascripts %}
    <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script>
        // au clic sur une marque
        $('.brand').click(function(){
            const brand = $(this).attr('id');
            // ça va chercher les modeles en requête json
            $.ajax({
                type: "POST",
                url: "{{ path('model_id') }}",
                data: {brand: brand},
                dataType:"json",
                success: function(models){
                    console.log(models);
                    $.each(models, function(models, model) {
                        console.log(model)
                    });
                    // et ça show le modele
                    $('#model').show();
                    $('#model-js').empty();
                    $('#model-js').append('<img src="{{ asset('images/ajax-loader.gif') }}">');
                    $('#model-js').append("<p>ici on affiche les modèles<br>Test : ");
                    $('#model-js').append(models);
                },
            });
        });
    </script>
{% endblock %}