{% extends 'base.html.twig' %}
{% block body %}

    <div class="container jumbotron">
        <div class="row">
            <div class="col-12 mx-auto text-center form p-4">
                <h1 class="primary-title">Dernière étape</h1>
                <h2 class="text-dark">{{ brand }}</h2>
                <h3 class="text-dark">{{ model }}</h3>
                <h4 class="text-dark">{{ capacity }} Go</h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>Votre téléphone a t-il été immergé dans l'eau ?</h4>
            </div>
            <div class="col-4">
                {{ form_start(form) }}
                {{ form_widget(form.liquid_damage, {'attr': {'class': 'mx-4 p-4', 'placeholder': ''}}) }}
            </div>
        </div>
    </div>

    <div class="container jumbotron">
        <div class="row">
            <div class="col-12">
                <h4>Votre écran est-il endommagé ?</h4>
            </div>
            <div class="col-4">
                {{ form_widget(form.screenCracks, {'attr': {'class': 'mx-4 p-4', 'placeholder': ''}}) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>La coque du téléphone est-elle endommagée ?</h4>
            </div>
            <div class="col-4">
                {{ form_widget(form.casingCracks, {'attr': {'class': 'mx-4 p-4', 'placeholder': ''}}) }}
            </div>
        </div>
    </div>

    <div class="container jumbotron">
        <div class="row">
            <div class="col-12">
                <h4>Avez vous des problèmes de charge au niveau de votre batterie ?</h4>
            </div>
            <div class="col-4">
                {{ form_widget(form.batteryCracks, {'attr': {'class': 'mx-4 p-4', 'placeholder': ''}}) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>Tous vos boutons sont-ils fonctionnels ?</h4>
            </div>
            <div class="col-4">
                {{ form_widget(form.buttonCracks, {'attr': {'class': 'mx-4 p-4', 'placeholder': ''}}) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4">
                {{ form_row(form.submit, {'label': 'Valider', 'class': 'btn btn-primary'}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}