{% extends 'base.html.twig' %}
{% block body %}

    <div class="container jumbotron">
        <div class="row">
            <div class="col-12 mx-auto text-center form p-4">
                <h1 class="primary-title">Dernière étape</h1>
                <h2 class="text-dark">{{ brand }}</h2>
                <h3 class="text-dark">{{ model }}</h3>
                <h4 class="text-dark">{{ capacity }} Go</h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-11">
                <h4>Ton téléphone a t-il été immergé dans l'eau ?</h4>
            </div>
            <div class="col-1">
                <img src="/images/info.png" alt="" title="Si ton téléphone est tombé dans l'eau, coche 'oui'"
                     class="w-50 h-50 d-inline">
            </div>
            <div class="col-4">
                {{ form_start(form) }}
                {{ form_widget(form.liquid_damage, {'attr': {'class': 'mx-4 p-4', 'placeholder': ''}}) }}
            </div>
        </div>
    </div>

    <div class="container jumbotron">
        <div class="row">
            <div class="col-11">
                <h4>Ton écran est-il endommagé ?</h4>
            </div>
            <div class="col-1">
                <img src="/images/info.png" alt="" title="Même si l'écran ne contient qu'une petite griffe, il est considéré comme endommagé"
                     class="w-50 h-50 d-inline">
            </div>
            <div class="col-4">
                {{ form_widget(form.screenCracks, {'attr': {'class': 'mx-4 p-4', 'placeholder': ''}}) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-11">
                <h4>La coque du téléphone est-elle endommagée ?</h4>
            </div>
            <div class="col-1">
                <img src="/images/info.png" alt="" title="Fissures, griffes, mauvais emboîtement, coche 'oui'"
                     class="w-50 h-50 d-inline">
            </div>
            <div class="col-4">
                {{ form_widget(form.casingCracks, {'attr': {'class': 'mx-4 p-4', 'placeholder': ''}}) }}
            </div>
        </div>
    </div>

    <div class="container jumbotron">
        <div class="row">
            <div class="col-11">
                <h4>As-tu des problèmes de charge au niveau de la batterie ?</h4>
            </div>
            <div class="col-1">
                <img src="/images/info.png" alt=""
                     title="Si tu as l'impression de devoir recherger ton téléphone tous les jours, coche 'oui'"
                     class="w-50 h-50 d-inline">
            </div>
            <div class="col-4">
                {{ form_widget(form.batteryCracks, {'attr': {'class': 'mx-4 p-4', 'placeholder': ''}}) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-11">
                <h4>Tous les boutons sont-ils fonctionnels ?</h4>
            </div>
            <div class="col-1">
                <img src="/images/info.png" alt="" title="Si un de tes boutons ne fonctionne plus, coche 'non'"
                     class="w-50 h-50 d-inline">
            </div>
            <div class="col-4">
                {{ form_widget(form.buttonCracks, {'attr': {'class': 'mx-4 p-4', 'placeholder': ''}}) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4">
                {{ form_row(form.submit, {'label': 'Valider', 'class': 'btn btn-primary'}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-5 text-center"></div>
        <div class="col-4">
            <a class="btn btn-info" href="{{ path("home") }}">Retour à l'accueil</a>
        </div>
    </div>

{% endblock %}
