{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('final_estimation') }}
{% endblock %}

{% block body %}
<main id="final_estimation">
    <div class="container p-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="estim-round-bubble">Dernière étape</h1>
                <h4 class="text-dark">Modèle : {{ brand }} - {{ model }} - {{ capacity }} Go</h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row question-row">
            <div class="col-10">
                <h4>Ton téléphone a t-il été en contact avec de l'eau ?</h4>
            </div>
            <div class="bubble-info">
                <img class="bubble-info-img" src="{{ asset('/images/info.png') }}" alt="">
                <div class="bubble-info-bg">
                </div>
                <p class="bubble-info-txt w-50">Si ton téléphone est tombé dans l'eau, coche 'oui'</p>
            </div>
        </div>
        <div class="row">
            <div class="col-10 choice">
                {{ form_start(form) }}
                {{ form_widget(form.liquid_damage, {'attr': {'class': 'custom-control custom-radio custom-control-inline m-3'}}) }}
            </div>
        </div>
    </div>

    <div class="container jumbo">
        <div class="row question-row">
            <div class="col-10">
                <h4>Ton écran est-il endommagé ?</h4>
            </div>
            <div class="bubble-info">
                <img class="bubble-info-img" src="{{ asset('/images/info.png') }}" alt="">
                <div class="bubble-info-bg">
                </div>
                <p class="bubble-info-txt w-50">Même si l'écran ne contient qu'une petite griffe, il est considéré comme endommagé</p>
            </div>
        </div>
        <div class="row">
            <div class="col-10 choice">
                {{ form_widget(form.screenCracks, {'attr': {'class': 'custom-control custom-radio custom-control-inline m-3'}}) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row  question-row">
            <div class="col-10">
                <h4>La coque du téléphone est-elle endommagée ?</h4>
            </div>
            <div class="bubble-info">
                <img class="bubble-info-img" src="{{ asset('/images/info.png') }}" alt="">
                <div class="bubble-info-bg">
                </div>
                <p class="bubble-info-txt w-50">Fissures, griffes, mauvais emboîtement, coche 'oui'</p>
            </div>
        </div>
        <div class="row">
            <div class="col-10 choice">
                {{ form_widget(form.casingCracks, {'attr': {'class': 'custom-control custom-radio custom-control-inline m-3'}}) }}
            </div>
        </div>
    </div>

    <div class="container jumbo">
        <div class="row question-row">
            <div class="col-10">
                <h4>As-tu des problèmes de charge au niveau de la batterie ?</h4>
            </div>
            <div class="bubble-info">
                <img class="bubble-info-img" src="{{ asset('/images/info.png') }}" alt="">
                <div class="bubble-info-bg">
                </div>
                <p class="bubble-info-txt w-50">Si tu as l'impression de devoir recharger ton téléphone tous les jours, coche 'oui'</p>
            </div>
        </div>
        <div class="row">
            <div class="col-10 choice">
                {{ form_widget(form.batteryCracks, {'attr': {'class': 'custom-control custom-radio custom-control-inline m-3'}}) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row question-row">
            <div class="col-10">
                <h4>Tous les boutons sont-ils fonctionnels ?</h4>
            </div>
            <div class="bubble-info">
                <img class="bubble-info-img" src="{{ asset('/images/info.png') }}" alt="">
                <div class="bubble-info-bg">
                </div>
                <p class="bubble-info-txt w-75">
                    Lorsqu'un smartphone est fonctionnel c'est à dire: <br>
                    - Il s'allume, s'éteint et se (re)charge.<br>
                    - Il émet des appels.<br>
                    - L'écran ne présente pas de pixel "mort".<br>
                    - Le tactile est palpable, utilisable est sans bug.<br>
                    - Aucune trace d'oxydation, de rouille ou d'usure.<br>
                    - Il n'a jamais été démonté même par un pote.<br>
                    - Le wi-fi semet en route.<br>
                    - Bien évidemment, question de bon sens toutes les autres fonctions sont utilisables(boutons volumes
                    et verrouillage, touch ID, face ID, clavier, micro, haut parleur etc
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-10 choice">
                {{ form_widget(form.buttonCracks, {'attr': {'class': 'custom-control custom-radio custom-control-inline m-3'}}) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                {{ form_row(form.submit, {'label': 'Calculer', 'attr': {'class': 'primary-button'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a class="secondary-button" href="{{ path("home") }}">Retour à l'accueil</a>
        </div>
    </div>

</main>
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('modal_infos') }}
{% endblock %}

