{% extends 'admin/index.html.twig' %}

{% block title %}Estimations index{% endblock %}
 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('estimationAdmin') }}
 {% endblock %}
{% block body %}
    <h2 class="primary-title">Estimations</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nom Prénom</th>
                <th>Téléphone</th>
                <th>Collecter</th>

            </tr>
        </thead>
        <tbody>
        {% for estimation in estimations %}
            <tr>
                {% if estimation.user is not null%}
                    <td class="infoUser row bg-light align-items-center">
                        {{ estimation.user.lastname }}
                        {{ estimation.user.firstname }}
                    </td>
                {% else %}
                    <td colspan="17" class="row bg-light align-items-center">Utilisateur Anonyme</td>
                {% endif %}

                <td class="row bg-light align-items-center">
                    {{ estimation.brand }} {{ estimation.model }}
                </td>
                <td>
                    <a href="{{ path('verifyEstim', {id: estimation.id}) }}" class="fourth-button buttonsCollecters">Procéder à la collecte</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
