{% extends 'admin/index.html.twig' %}

{% block title %}Estimations index{% endblock %}
 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('estimationAdmin') }}
 {% endblock %}
{% block body %}
    <h2 class="primary-title">Estimations</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nom Prénom</th>
                <th>Plus d'infos</th>
                <th>Edition</th>
                <th>Collecter</th>

            </tr>
        </thead>
        <tbody>
        {% for estimation in estimations %}
            <tr>
                {% if estimation.user is not null%}
                    <td class="infoUser">
                        {{ estimation.user.lastname }}
                        {{ estimation.user.firstname }}
                    </td>
                {% else %}
                    <td colspan="17">Utilisateur Anonyme</td>
                {% endif %}

                <td class="fourth-button info">
                    <a href="{{ path('estimations_show', {'id': estimation.id}) }}">Plus d'infos</a></td>
                 <td class="fourth-button editEstim">
                     <a href="{{ path('estimations_edit', {'id': estimation.id}) }}">Edition</a></td>
                <td class="fourth-button buttonsCollecters">
                    <a href="#">Collecter</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('estimations_new') }}">Create new</a>
{% endblock %}
