{% extends 'admin/index.html.twig' %}

{% block title %}Estimations{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('showEstimationAdmin') }}
{% endblock %}
{% block body %}
    <h1 class="primary-title">Estimations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estimation.id }}</td>
            </tr>
            <tr>
                <th>EstimationDate</th>
                <td>{{ estimation.estimationDate ? estimation.estimationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsCollected</th>
                <td>{{ estimation.isCollected ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ estimation.model }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ estimation.capacity }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ estimation.brand }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ estimation.color }}</td>
            </tr>
            <tr>
                <th>LiquidDamage</th>
                <td>{{ estimation.liquidDamage }}</td>
            </tr>
            <tr>
                <th>ScreenCracks</th>
                <td>{{ estimation.screenCracks }}</td>
            </tr>
            <tr>
                <th>CasingCracks</th>
                <td>{{ estimation.casingCracks }}</td>
            </tr>
            <tr>
                <th>BatteryCracks</th>
                <td>{{ estimation.batteryCracks }}</td>
            </tr>
            <tr>
                <th>ButtonCracks</th>
                <td>{{ estimation.buttonCracks }}</td>
            </tr>
            <tr>
                <th>MaxPrice</th>
                <td>{{ estimation.maxPrice }}</td>
            </tr>
            <tr>
                <th>EstimatedPrice</th>
                <td>{{ estimation.estimatedPrice }}</td>
            </tr>
            <tr>
                <th>IsValidatedPayment</th>
                <td>{{ estimation.isValidatedPayment ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsValidatedSignature</th>
                <td>{{ estimation.isValidatedSignature ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
<section>
    <a class="fourth-button" href="{{ path('estimations_index') }}">Back to list</a>

    <a class="fourth-button" href="{{ path('estimations_edit', {'id': estimation.id}) }}">Edit</a>

    <a class="fourth-button" href="{{ include('estimations/_delete_form.html.twig') }}</a>
</section>
{% endblock %}
