{% extends 'base.html.twig' %}
{% block title %}Contacte-nous !{% endblock %}
{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8 mx-auto p-3">
                <h1 class="primary-title">Contacte-nous</h1>
                <div class="row align-items-end">
                    <div class="col-12">
                        <p class="text-justify">Salut toi ! Alors comme ça tu veux papoter ?</p>
                        <p class="text-justify">Avant de te fatiguer à nous écrire un message, jette un coup d'oeil dans la FAQ !</p>
                    </div>
                    <div class="col-8">
                        <p>A bientôt,<br>
                        L'équipe BipBip !</p>
                    </div>
                    <div class="col-2">
                        <a href="{{ path('faq_index') }}">
                            <img src="{{ asset('images/faq.png') }}" alt="FAQ" id="faq-btn">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{ form_start(form) }}
            <div class="offset-sm-2 col-sm-8 offset-sm-2">
                {{ form_widget(form.subject, {'attr': {'class': 'form-control', 'label': 'Objet du message', 'required': true}}) }}
            </div>
            <div class="offset-sm-2 col-sm-8 offset-sm-2">
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control mt-3', 'placeholder': 'Prénom',
                    'label': 'Prénom', 'required': true}}) }}
            </div>
            <div class="offset-sm-2 col-sm-8 offset-sm-2">
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control mt-3', 'placeholder': 'Nom',
                    'label': 'Nom', 'required': true}}) }}
            </div>
            <div class="offset-sm-2 col-sm-8 offset-sm-2">
                {{ form_widget(form.email, {'attr': {'class': 'form-control mt-3', 'placeholder': 'Email',
                    'label': 'Email', 'required': true}}) }}
            </div>
            <div class="offset-sm-2 col-sm-8 offset-sm-2">
                {{ form_widget(form.phone, {'attr': {'class': 'form-control mt-3', 'placeholder': 'Téléphone',
                    'label': 'Téléphone'}}) }}
            </div>
            <div class="offset-sm-2 col-sm-8 offset-sm-2">
                {{ form_widget(form.message, {'attr': {'class': 'form-control mt-3 mb-3',
                    'placeholder': 'Message (10 caractères minimum)', 'label': 'Message', 'required': true}}) }}
            </div>
            <div class="offset-sm-2 col-sm-8 offset-sm-2 form-text text-muted">
                {{ form_row(form.agreeTerms, {'label': 'Aucune donnée personnelle n\’est conservée par notre site via
                ce formulaire, mais tu acceptes que BipBip te recontacte afin de répondre à ta demande.', 'required': true}) }}
            </div>
            <div class="offset-sm-2 col-sm-8 offset-sm-2 text-center">
                {{ form_row(form.save, {'label': 'Envoyer le message', 'attr': {'class': 'fourth-button'}}) }}
            </div>
        {{ form_end(form) }}

        {% include('home/5pictos.html.twig') %}

    </main>
{% endblock %}