{% block body %}
    <p>
        Bonjour,
    </p>

    <div class="font-weight-bold">Téléphones à collecter aujourd'hui:</div>
    <p>
        {% for collect in collects %}
            <p>
                date: {{ collect.dateCollect | date('d-m-Y') }} à {{ collect.dateCollect | date('h:i') }}
            </p>
            <p>
                Organisme: {{ collect.collector.organismName }}
            </p>
            <p>
                lieu: {{ collect.collector.organismAddress }} {{ collect.collector.organismPostCode }}, {{ collect.collector.organismCity }}
            </p>
        {% else %}
            Aucun téléphone à collecter.
        {% endfor %}
    </p>
    <p>
        Le détail se trouve dans le fichier csv joint à ce message.
    </p>
    <p>
        --<br>
        Ce message vous a été envoyé automatiquement le
        {{ "now"|date("d/m/Y à H:i:s") }}
    </p>
{% endblock %}