{% block body %}
    <p>Bonjour,</p>
    <p>Merci pour ta candidature, nous vous contacterons dans les plus bref délai afin de t'apporter une réponse.</p>
    <ul>
        <li>Auteur : {{ form['firstname'] }} {{ form['lastname'] }}</li>
        <li>Mail : {{ form['email'] }}</li>
        <li>Téléphone : {{ form['phone'] }}</li>
    </ul>
    <p>Message :<br>
        {{ form['message'] }}</p>

    <p>--<br>
        Ce message est envoyé automatiquement, merci de ne pas y répondre.
    </p>
    <p>
        BipBip te remercie pour l'intérêt que tu lui portes.
    </p>
{% endblock %}
