{% block body %}
    <p>Bonjour,</p>
    <p>Merci pour votre candidature, nous vous contacterons dans les plus bref délai afin de vous apporter une réponse.</p>
    <ul>
        <li>Auteur : {{ form['firstname'] }} {{ form['lastname'] }}</li>
        <li>Mail : {{ form['email'] }}</li>
        <li>Téléphone : {{ form['phone'] }}</li>
    </ul>
    <p>Message :<br>
        {{ form['message'] }}</p>

    <p>--<br>
        Il est inutile de répondre à ce message, une réponse vous sera adressée rapidement par l'équipe bipBip.
    </p>
    <p>
        BipBip vous remercie pour l'intention que vous lui portez.
    </p>
{% endblock %}