{% extends 'base.html.twig' %}

{% block title %}Collects index{% endblock %}

{% block body %}
    <h1>Collects index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateCollect</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collect in collects %}
            <tr>
                <td>{{ collect.id }}</td>
                <td>{{ collect.dateCollect ? collect.dateCollect|date('d-m-Y H:i') : '' }}</td>
                <td>
                    <a href="{{ path('collects_show', {'id': collect.id}) }}">show</a>
                    <a href="{{ path('collects_edit', {'id': collect.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('collects_new') }}">Create new</a>
{% endblock %}
