{% extends 'base.html.twig' %}

{% block title %}BipBip - Ton Green Mobile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
<main class="home">

    <h1 class="title-page"><span>Who's who</span></h1>

    <section>
        <div class="d-flex flex-wrap justify-content-around mb-5 mt-5">
              <div class="giver mb-5 ">
                  <a href="{{ path("vends") }}" target="_blank" title="vends"><img class="img-top" src="{{ asset('images/GiverAv.png') }}" alt="Givers_front"></a>
              </div>
              <div class="collecteur mb-5">
                  <a href="{{ path("asso") }}" target="_blank" title="bipers"><img class="img-top" src="{{ asset('images/CollecteursAv.png') }}" alt="Collecteurs"></a>
              </div>
              <div class="partenaire mb-5">
                  <a href="{{ plaquette }}" target="_blank" title="plaquette"><img class="img-top" src="{{ asset('images/PartenaireAv.png') }}" alt="Partenaires"></a>
              </div>
              <div class="biper mb-5">
                  <a href="{{ path("boutique") }}" target="_blank" title="boutique"><img class="img-top" src="{{ asset('images/BiperAv.png') }}" alt="Bipers"></a>
              </div>
        </div>

</section>

    <h1 class="title-page"><span>Nos Partenaires</span></h1>
<section>

</section>

<h1 class="title-page"><span>Nos Collecteurs experts</span></h1>
<section>
    {% include('home/include_galerie.html.twig') %}
</section>
</main>
{% endblock %}
