{% extends 'base.html.twig' %}

{% block title %}BipBip - Ton Green Mobile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
<main class="home">

    <h1 class="title-page"><span>Who's who</span></h1>

    <section>

    <div class="row mb-5 mt-5 text-center">
        <div class="giver text-center col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-5">
           <img class="img-top" src="{{ asset('images/GiverAv.png') }}" alt="Givers_front">
        </div>
        <div class="collecteurs text-center col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-5">
            <img class="img-top" src="{{ asset('images/CollecteursAv.png') }}" alt="Collecteurs">
        </div>
          <div class="partenaire text-center col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-5">
                <img class="img-top" src="{{ asset('images/PartenaireAv.png') }}" alt="Partenaires">
          </div>
        <div class="biper text-center col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 mb-5">
            <img class="img-top" src="{{ asset('images/BiperAv.png') }}" alt="Bipers">
        </div>
    </div>
    </section>

        <h1 class="title-page"><span>Nos Partenaires</span></h1>
    <section>

    </section>

    <h1 class="title-page"><span>Nos Collecteurs experts</span></h1>
    <section>
        {% include('home/include_galerie.html.twig') %}
    </section>
</main>
{% endblock %}
