{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
    <h1>Boutique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ boutique.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ boutique.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ boutique.model }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ boutique.capacity }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ boutique.couleur }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ boutique.etat }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ boutique.prix }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ boutique.image }}</td>
            </tr>
            <tr>
                <th>DateAjout</th>
                <td>{{ boutique.dateAjout ? boutique.dateAjout|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>IsPromo</th>
                <td>{{ boutique.isPromo ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsSold</th>
                <td>{{ boutique.isSold ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DateSold</th>
                <td>{{ boutique.dateSold ? boutique.dateSold|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('boutique_index') }}">back to list</a>

    <a href="{{ path('boutique_edit', {'id': boutique.id}) }}">edit</a>

    {{ include('boutique/_delete_form.html.twig') }}
{% endblock %}
