<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}BipBip Mobile{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Century+Gothic" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/2710711f76.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid">
    {% block header %}
        <header>
            {% set currentPath = path(app.request.attributes.get('_route'),
                app.request.attributes.get('_route_params')) %}
            {% if currentPath == '/vends/' %}
            <div class="row pb-3 secondary-bg">
                {% else %}
            <div class="row pb-3 bg-white">
                {% endif %}
                <div class="col-8 col-md-6 pt-3 text-center">
                    {% if currentPath == '/vends/' %}
                    <a href="{{ path('home') }}" class="logo-title pl-1"><img src="{{ asset('/images/vends_title.png') }}"
                                                                          alt="Vends ton tél" /></a>
                    {% else %}
                    <a href="{{ path('home') }}" class="logo-title pl-1"><img src="{{ asset('/images/logo-bipbip.png') }}"
                                                                          alt="BipBip ton Green Mobile" /></a>
                    {% endif %}
                </div>
                <div class="col-4 col-md-6">
                    <nav id="menu">
                        <img src="{{ asset('images/close.png') }}" alt="Fermer le menu" class="close-button"/>
                        <div class="row align-items-center justify-content-end">
                            <div class="col-8 col-sm-5 col-lg-3">
                                <img class="d-none d-sm-block" src="{{ asset('images/perso-bipbip.png') }}" alt="Téléphone" id="phone-menu"/>
                                <div class="user-infos-menu">
                                    {% if app.user %}
                                            <h3 class="primary-title-menu-color">{{ app.user.firstname }} {{ app.user.lastname }}</h3>
                                            {% for role in app.user.roles %}
                                                {% if role == 'ROLE_COLLECTOR' or role == 'ROLE_ADMIN' %}
                                                    <a href="{{ path('estimations_index') }}" title="plateforme d'administration" class="primary-title-menu">Accès à l'administration</a>
                                                {% else %}
                                                    <a class="primary-title-menu" href="{{ path('user_show', {'id': app.user.id}) }}">Mon profil</a>
                                                {% endif %}
                                            {% endfor %}
                                        <a href="{{ path('app_logout') }}" class="disconnection"> Se déconnecter</a>

                                    {% else %}
                                        <a href="{{ path('app_login') }}" class="connect"> Se connecter / s'inscrire</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-5">
                                <ul>
                                    <li class="primary-title-menu-color">BipBip</li>
                                    <li class="primary-title-menu"><a href="{{ path("histoire") }}" title="Notre histoire">Notre histoire</a></li>
                                    <li class="primary-title-menu"><a href="{{ path("qui-sommes-nous") }}" title="Notre solution">Notre solution</a></li>
                                    <li class="primary-title-menu"><a href="{{ path("team") }}" title="Description Bip Bip">Notre team</a></li>
                                    <li class="primary-title-menu-color pt-2">#Je suis BipBip</li>
                                    <li class="primary-title-menu"><a href="{{ path("vends") }}" title="Vends ton téléphone">Vends ton tél</a></li>
                                    <li class="primary-title-menu"><a href="{{ path("boutique") }}" title="Achète un BipBip">Achète un BipBip</a></li>
                                    <li class="primary-title-menu-color pt-2">BipBip a besoin de toi</li>
                                    <li class="primary-title-menu"><a href="{{ path("show_collect") }}" title="Les points de collecte">Collecteurs / bippeurs</a></li>
                                    <li class="primary-title-menu"><a href="{{ path("asso") }}" title="Organiser une collecte">Asso, école, entreprise, mairie : devenir site de collecte</a></li>
                                    <li class="primary-title-menu"><a href="{{ path("organisms_index") }}" title="Nos partenaires">Nos partenaires : Startup innovante et engagée pour la région ?</a></li>
                                    <li class="primary-title-menu"><a href="{{ path("add_message") }}" title="Parrain">Parrain</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="circle-buttons">
                        <div id="menu-burger">
                            <img src="{{ asset('/images/menu-burger.png') }}" alt="menu burger" />
                            <p>Menu</p>
                        </div>

                        <a href="{{ path('faq_index') }}">
                            <img src="{{ asset('images/faq.png') }}" alt="FAQ" id="faq-button" />
                        </a>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center mt-1 alert-dismissible fade show">
                    {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger text-center mt-1 alert-dismissible fade show">
                    {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
            {% endfor %}
            </div>
        </header>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
        <footer>
            <h2 class="primary-title">Tu en veux plus ?</h2>
            <div class="row justify-content-center mb-4">
                <div class="col-2 col-md-1 text-center">
                    <a href="#" target="_blank" title="Page Facebook">
                        <img src="{{ asset('images/logo-fb.png') }}" alt="Page Facebook" class="social-networks" />
                    </a>
                </div>
                <div class="col-2 col-md-1 text-center">
                    <a href="#" target="_blank" title="Instagram">
                        <img src="{{ asset('images/logo-insta.png') }}" alt="Instagram" class="social-networks" />
                    </a>
                </div>
                <div class="col-2 col-md-1 text-center">
                    <a href="#" target="_blank" title="LinkedIn">
                        <img src="{{ asset('images/logo-linkedin.png') }}" alt="LinkedIn" class="social-networks" />
                    </a>
                </div>
            </div>
            <div class="row links-footer justify-content-center pt-3">

                <div class="col-12 text-center pb-2">
                    <img src="{{ asset('images/bipbip-footer.png') }}" alt="BipBip">
                </div>

                <div class="col-6 col-sm mb-4">
                    <div class="font-weight-bold pb-2">BipBip Infos<br></div>
                    <a href="{{ path("bonsplans") }}" title="Les bons plans">Les bons plans</a><br>
                    <a href="{{ path("recrute") }}" title="Jobs/recrutement">Jobs/recrutement</a><br>
                    <a href="{{ path("livraisons") }}" title="Livraisons et garanties">Livraisons et garanties</a><br>
                </div>

                <div class="col-6 col-sm mb-4">
                    <div class="font-weight-bold pb-2">Parlons BipBip<br></div>
                    <a href="{{ path("add_message") }}" title="Contact">Contacte-nous</a><br>
                    <a href="{{ path("presse") }}" title="Espace Presse">Espace Presse</a><br>
                    <a href="{{ path('protection') }}" title="Protection des données">
                        Ce qu'on oublie de lire
                    </a><br>
                </div>

                <div class="col-6 col-sm mb-4">
                    <div class="font-weight-bold pb-2">S'informer<br></div>
                    <a href="{{ path('show_collect') }}" title="Points de collecte">Points de collecte</a><br>
                    <a href="{{ path('organisms_index') }}" title="Nos partenaires">Nos partenaires</a><br>
                    <a href="{{ path('add_message') }}" title="Devenir partenaire">Devenir partenaire</a><br>
                    <a href="{{ path('faq_index') }}" title="FAQ">FAQ</a>
                </div>

                <div class="col-6 col-sm mb-4">
                    <div class="font-weight-bold pb-2">Besoin d'aide ?<br></div>
                    <a href="{{ path('home') }}" title="Comment bien choisir son smarthpone reconditionné ?">Comment bien choisir son smarthpone reconditionné&#8239;?</a><br>
                    <a href="{{ path('home') }}" title="Nos partenaires">Les grades de smartphone reconditionnés BipBip</a><br>
                    <a href="{{ path('add_message') }}" title="Contact">Nous contacter</a>
                </div>

            </div>
        </footer>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        {% endblock %}
    </div>
    </body>

</html>
