<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}BipBip Mobile{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Century+Gothic" rel="stylesheet" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block header %}
        <header>
            <div class="row mb-5">
                <div class="col-8 text-center pt-3">
                    <a href="{{ path('home') }}" class="logo-bipbip"><img src="{{ asset('/images/new-logo-bipbip.png') }}"
                                                                          alt="BipBip ton Green Mobile" /></a>
                </div>
                <div class="col-4">
                    <nav id="menu">
                        <img src="/images/close-button.png" alt="Fermer le menu" class="close-button"/>
                        <ul>
                            <li class="primary-title primary-title-menu"><a href="{{ path("qui-sommes-nous") }}" title="Description Bip Bip">Qu'est-ce que Bip Bip ?</a></li>
                            <li class="primary-title primary-title-menu"><a href="{{ path("new_estimation") }}" title="Estimer son téléphone">Estime ton tel</a></li>
                            <li class="primary-title primary-title-menu"><a href="{{ path("boutique") }}" title="Acheter un téléphone">Acheter un tel</a></li>
                            <li class="primary-title primary-title-menu"><a href="{{ path('add_message') }}" title="Organiser une collecte">Organiser une collecte</a></li>
                            <li class="primary-title primary-title-menu"><a href="{{ path('faq_index') }}" title="Foire aux questions">FAQ</a></li>
                            <li class="primary-title primary-title-menu"><a href="{{ path('add_message') }}" title="Contacte-nous">Contacte-nous</a></li>
                        </ul>
                        <div class="user-infos-menu">
                            {% if app.user %}
                                <a href="{{ path('user_show', { 'id':app.user.id}) }}" class="disconnection">
                                    <h3 class="user_name">{{ app.user.firstname }} {{ app.user.lastname }}</h3>
                                </a>
                                <a href="{{ path('app_logout') }}" class="disconnection"> Se déconnecter</a>

                                {% for role in app.user.roles %}
                                    {% if role == "ROLE_COLLECTOR" or role == "ROLE_ADMIN" %}
                                        <a href="{{ path('estimations_index') }}" title="plateforme d'administration" class="fourth-button">Accéder à la plateforme d'administration</a>
                                    {% endif %}
                                {% endfor %}

                            {% else %}
                                <a href="{{ path('app_login') }}" class="connect"> Se connecter / s'inscrire</a>
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </div>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger text-center">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="circle-buttons">
                <div id="menu-burger">
                    <img src="/images/menu-burger.png" alt="menu burger" />
                    <p>Menu</p>
                </div>

                <a href="{{ path('faq_index') }}">
                    <div id="faq-button">
                        <p>FAQ</p>
                    </div>
                </a>

            </div>
        </header>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
        <footer>
            <div class="row links-footer m-0 p-4">
                <div class="col-sm">
                    <div class="font-weight-bold pb-2">
                        A propos de BipBip<br>
                    </div>
                    <a href="{{ path('qui-sommes-nous') }}" title="Page qui-sommes-nous">
                        Qui sommes-nous ?
                    </a><br>
                    <a href="{{ path('qui-sommes-nous') }}" title="Page qui-sommes-nous">
                        Notre mission
                    </a><br>
                    <a href="{{ path('protection') }}" title="Protection des données">
                        Ce qu'on oublie de lire
                    </a><br>
                    <a href="{{ path('home') }}" title="Collectes et évènements">
                        Collectes et évènements
                    </a>
                </div>
                <div class="col-sm">
                    <div class="font-weight-bold pb-2">
                        S'informer<br>
                    </div>
                    <a href="{{ path('show_collect') }}" title="Points de collecte">
                        Points de collecte
                    </a><br>
                    <a href="{{ path('organisms_index') }}" title="Nos partenaires">
                        Nos partenaires
                    </a><br>
                    <a href="{{ path('add_message') }}" title="Devenir partenaire">
                        Devenir partenaire
                    </a><br>
                    <a href="{{ path('faq_index') }}" title="FAQ">
                        FAQ
                    </a>
                </div>
                <div class="col-sm">
                    <div class="font-weight-bold pb-2">
                        Besoin d'aide ?<br>
                    </div>
                    <a href="{{ path('home') }}" title="Comment bien choisir son smarthpone reconditionné ?">
                        Comment bien choisir son smarthpone reconditionné ?
                    </a><br>
                    <a href="{{ path('home') }}" title="Nos partenaires">
                        Les grades de smartphone reconditionnés BipBip
                    </a><br>
                    <a href="{{ path('add_message') }}" title="Contact">
                        Nous contacter
                    </a>
                </div>
            </div>
        </footer>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>

</html>
