<li class="primary-title-menu-color pt-2">BipBip Infos</li>
<li class="primary-title-menu"><a href="{{ path("bonsplans") }}" title="Les bons plans">Les bons plans</a></li>
<li class="primary-title-menu"><a href="{{ path("recrute") }}" title="Jobs/recrutement">Jobs/recrutement</a></li>
<li class="primary-title-menu"><a href="{{ path("livraisons") }}" title="Livraisons et garanties">Livraisons et garanties</a></li>
<li class="primary-title-menu-color pt-2">Parlons BipBip</li>
<li class="primary-title-menu"><a href="{{ path("add_message") }}" title="Contact">Contacte-nous</a></li>
<li class="primary-title-menu"><a href="{{ path("presse") }}" title="Espace Presse">Espace Presse</a></li>