{% extends 'base.html.twig' %}

{% block body %}

    {% if user %}
        <div class="container col-10 d-flex flex-wrap justify-content-between mt-5">
            <div class="card col-12 col-sm-5 mt-2 mb-2 border-dark p-2">
                <img src="{{ asset('/images/etiq_chrono.jpeg') }}" class="card-img-top" alt="Générer une étiquette">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        GENERER UNE ETIQUETTE
                    </h5>
                    <p class="card-text text-center">
                        Tu imprimes ton étiquette Chronopost et tu la colles sur ton colis.
                        Tu n’auras plus qu’à présenter ton colis au bureau de poste.
                    </p>
                    <p class="text-center">
                        {# statut estimation "2" correspond à une génération d'étiquette Chronopost, sauvée sur le serveur #}
                        <a class="primary-button" href="{{ path('api_chronopost_ae', {'id': user.id, 'estimation': estimation, 'status': 2}) }}">
                            Générer mon étiquette
                        </a>
                    </p>
                </div>
            </div>
            <div class="card col-12 col-sm-5 mt-2 mb-2 border-dark p-2">
                <img src="{{ asset('/images/AdobeStock_47479780.jpeg') }}" class="card-img-top" alt="Recevoir un code">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        RECEVOIR UN CODE
                    </h5>
                    <p class="card-text text-center">
                        Tu reçois un code. Présente-le au bureau de poste le plus proche de chez toi
                        et ils imprimeront l’étiquette pour toi.
                    </p>
                    <p class="text-center">
                        {# statut estimation "4" correspond à un code Chronopost envoyé au client #}
                        <a class="primary-button" href="{{ path('api_chronopost_se', {'id': user.id, 'estimation': estimation, 'status': 4}) }}">
                            Recevoir mon code
                        </a>
                    </p>
                </div>
            </div>
        </div>

    {% else %}
        <div class="jumbotron">
            <a class="btn btn-info m-auto" href="{{ path('app_login') }}">Reconnecte toi</a>
        </div>

    {% endif %}

{% endblock %}
