{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login')}}
{% endblock %}

{% block body %}
    <main>
        <section id="mdp">
            <h1 class="primary-title">Renouvellement du mot de passe</h1>
            <div class="container">
                <div class="w-50 m-auto mt-4">
                    {{ form_start(form) }}
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control m-auto mb-4', 'placeholder' : 'Votre email'} }) }}
                    <div class="row mt-4 justify-content-center">
                        <input class="third-button" type="submit" value="Réinitialiser">
                    </div>
                    {{ form(form) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
