{% extends 'admin/index.html.twig' %}

{% block title %}Collecteurs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin-tables') }}
{% endblock %}

{% block body %}
    <main class="admin-tables">
        <h2 class="third-title text-center mt-4">Liste des collecteurs</h2>
        <a href="{{ path('register_collector') }}" class="fourth-button add2">Ajouter</a>

        <div class="container">
            <div class="row align-items-center table-head rounded-top">
                <div class="col-4 text-center">
                    Nom Prénom
                </div>
                <div class="col-4 text-center">
                    Organisme
                </div>
                <div class="col-2 text-center">
                </div>
                <div class="col-2">
                </div>
            </div>
            {% for collector in collectors %}
                <div class="row align-items-center border-bottom">
                    <div class="col-3 text-center">
                        <a href="{{ path('collectors_show', {'id' : collector.id}) }}">{{ collector.lastname }} {{ collector.firstname }}</a>
                    </div>
                    <div class="col-3 text-center">
                        {% if collector.organism is null %}
                            Pas d'organisme associé
                        {% else %}
                            {{ collector.organism.organismName }}
                        {% endif %}
                    </div>
                    <div class="col-3 text-center">
                        <a href="{{ path('collectors_edit', {'id': collector.id}) }}" class="fourth-button">Editer</a>
                    </div>
                    <div class="col-3 delete-btn text-center">
                        {{ include('user/_delete_collector_form.html.twig') }}
                    </div>
                </div>

            {% else %}
                <div class="row align-items-center border-bottom">
                    <div class="col-12 text-center">
                        Aucun collecteur trouvé
                    </div>
                </div>
            {% endfor %}
        </div>

    </main>
{% endblock %}
