{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}
<main class="container">
    <div class="row mb-3">
    <p>Informations personnelles</p>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Nom de famille
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {{ user.lastname }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Prénom
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {{ user.firstname }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Email
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {{ user.email }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Numéro de téléphone
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {{ user.phoneNumber }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Adresse
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {{ user.address }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Code postal
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {{ user.postCode }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Ville
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {{ user.city }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Organisme rattaché
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {% if user.organism.organismName is defined %}
                {{ user.organism.organismName }}
            {% else %}
                Tu n'appartiens à aucun organisme
            {% endif %}
        </div>
    </div>
        <p class="text-right">
    <a href="{{ path('user_edit', {'id': user.id}) }}" class="text-right">> modifier</a>
        </p>
    <div class="row mb-3">
        <p>Collecte à laquelle tu es inscrite</p>
    </div>
    <div class="row mb-3">
        <p>Estimations réalisées</p>
    </div>
</main>
{% endblock %}
