{% extends 'base.html.twig' %}

{% block title %}Lieux de collecte - BipBip{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('admin-tables') }}
 {% endblock %}

{% block body %}

    <main class="admin-tables">
        <h1 class="primary-title">Lieux de collecte</h1>
        {% if app.user.roles is defined %}
            <p>Choisis une collecte pour déposer ton téléphone</p>
            {% if app.user.roles[0] == "ROLE_COLLECTOR" or app.user.roles[0] == "ROLE_ADMIN" %}
                <div class="text-right">
                    <a class="text-right" href="{{ path('estimations_index') }}">
                        Retour aux collectes
                    </a>
                </div>
            {% endif %}
        {% else %}
            <p>Voici les collectes actuellement organisées par BipBip :</p>
        {% endif %}
        {%  if collects is empty %}
            <div class="container">
                <div class="row align-items-center mt-3">
                    <div class="offset-2 col-8 text-center">
                        Désolé, aucune collecte n'est programmée pour l'instant.
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    <div class="offset-2 col-8 text-center">
                        <a class="btn btn-warning" href="{{ path('add_message') }}">
                            Propose un lieu ou une date !
                        </a>
                    </div>
                </div>
                <div class="row align-items-center mt-3">
                    <div class="offset-2 col-8 text-center">
                        Ton estimation est sauvegardée sur
                        <a href="{{ path('user_show', { id:app.user.id}) }}">
                            ton compte client
                        </a>.
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row align-items-center table-head rounded-top">
                    <div class="col-3 text-center">
                        Partenaire de collecte
                    </div>
                    <div class="col-3 text-center">
                        Adresse
                    </div>
                    <div class="col-3 text-center">
                        Date de collecte
                    </div>
                    {% if app.user.roles is defined %}
                        <div class="col-3">
                        </div>
                    {% endif %}
                </div>

            {% for collect in collects %}
                <div class="row align-items-center border-bottom">
                    <div class="col-3 text-center">
                        <h5>{{ collect.collector.organismName }}</h5>
                    </div>
                    <div class="col-3 text-center">
                        {{ collect.collector.organismAddress }},
                        {{ collect.collector.organismPostcode }}
                        {{ collect.collector.organismCity }}
                    </div>
                    <div class="col-3 text-center">
                        {{ collect.dateCollect|date('d/m/Y') }} à {{ collect.dateCollect|date('H:i') }}
                    </div>
                    {% if app.user.roles is defined %}
                        <div class="col-2">
                            <a class="primary-button" href="{{ path('choice', {collect: collect.id }) }}">J'y vais !</a>
                        </div>
                    {% else %}
                        <div class="col-2">
                            <a class="primary-button" href="{{ path('signin') }}">J'y vais !</a>
                        </div>
                    {% endif %}
                </div>
        {% endfor %}
                <div class="row align-items-center mt-5">
                    <div class="offset-2 col-8 text-center">
                    Aucune collecte ne te convient ?
                    </div>
                </div>
                <div class="row align-items-center mt-2">
                    <div class="offset-2 col-8 text-center">
                        <a class="btn btn-warning" href="{{ path('add_message') }}">
                            Propose un lieu ou une date !
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}

