{% extends 'base.html.twig' %}

{% block body %}

<table class="table">
    <thead class="jumbotron">
        <td>Nom d'organisme</td>
        <td>Adresse</td>
        <td>Date de collecte</td>
    </thead>
    {% for collect in collects %}
    <tbody>
        <td><h5>{{ collect.collector.organismName }}</h5></td>
        <td>{{ collect.collector.organismAddress }}, {{ collect.collector.organismPostcode }} {{ collect.collector.organismCity }}</td>
        <td>{{ collect.dateCollect.date|date('d M Y H:i') }}</td>
        <td><a href="{{ path('choice', {collect: collect.id }) }}" onclick="ConfirmCollect()">Participer</a></td>
    </tbody>
    {% endfor %}
</table>
    <script type="text/javascript">
        function ConfirmCollect() {
            if (confirm("Etes vous sure de vouloir participer à cette collecte ?")) {

            }
        }
    </script>

{% endblock %}