{% extends 'base.html.twig' %}

{% block title %}Choix d'une collecte{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('admin-tables') }}
 {% endblock %}

{% block body %}

    <main class="admin-tables">
        <h2 class="primary-title">Choisis une collecte</h2>
        {%  if collects is empty %}
            <div class="container">
                <div class="row align-items-center mt-5">
                    <div class="offset-2 col-8 text-center">
                        Désolé, aucune collecte n'est programmée pour l'instant.
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    <div class="offset-2 col-8 text-center">
                        <a class="btn btn-warning" href="{{ path('add_message') }}">
                            Propose un lieu ou une date !
                        </a>
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    <div class="offset-2 col-8 text-center">
                        Ton estimation est sauvegardée sur
                        <a href="{{ path('user_show', { id:app.user.id}) }}">
                            ton compte client
                        </a>.
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    </div>
                </div>
        {% else %}
            <div class="container">
                <div class="row align-items-center table-head rounded-top">
                    <div class="col-3 text-center">
                        Partenaire de collecte
                    </div>
                    <div class="col-4 text-center">
                        Adresse
                    </div>
                    <div class="col-3 text-center">
                        Date de collecte
                    </div>
                    <div class="col-2">
                    </div>
                </div>

            {% for collect in collects %}
                <div class="row align-items-center border-bottom">
                    <div class="col-3 text-center">
                        <h5>{{ collect.collector.organismName }}</h5>
                    </div>
                    <div class="col-4 text-center">
                        {{ collect.collector.organismAddress }},
                        {{ collect.collector.organismPostcode }}
                        {{ collect.collector.organismCity }}
                    </div>
                    <div class="col-3 text-center">
                        {{ collect.dateCollect.date|date('d/m/Y') }} à {{ collect.dateCollect.date|date('H:i') }}
                    </div>
                    <a class="col-2 fourth-button" href="{{ path('choice', {collect: collect.id }) }}">J'y vais !</a></td>
                </div>
        {% endfor %}
                <div class="row align-items-center mt-5">
                    <div class="offset-2 col-8 text-center">
                    Aucune collecte ne te convient ?
                        <a class="btn btn-warning" href="{{ path('add_message') }}">
                            Propose un lieu ou une date !
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}

