{% extends 'base.html.twig' %}

{% block body %}

<table class="table">
    <thead class="jumbotron">
        <td>Nom d'organisme</td>
        <td>Adresse</td>
        <td>Date de collecte</td>
    </thead>
    {% for collect in collects %}
    <tbody>
        <td><h5>{{ collect.collector.organismName }}</h5></td>
        <td>{{ collect.collector.organismAddress }}, {{ collect.collector.organismPostcode }} {{ collect.collector.organismCity }}</td>
        <td>{{ collect.dateCollect.date|date('d M Y H:i') }}</td>
        <td><a class="btn btn-success choice_collect" href="{{ path('choice', {collect: collect.id }) }}" onclick="ConfirmCollect()">Participer</a></td>
    </tbody>
    {% endfor %}
</table>

{% block javascripts %}
    {{ encore_entry_script_tags('show_collect') }}
{% endblock %}
{% endblock %}