{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}
<main class="container">
    <h1 class="primary-title">Profil de {{ user.firstname }} {{ user.lastname }}</h1>
    <div class="row mb-3">
    <p class="secondary-title">Informations personnelles</p>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Nom
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {{ user.lastname }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Prénom
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {{ user.firstname|capitalize }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Email
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {{ user.email }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Numéro de téléphone
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {{ user.phoneNumber }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Adresse
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {{ user.address }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Code postal
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {{ user.postCode }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Ville
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {{ user.city }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="offset-2 col-3 text-right border-bottom p-2">
            Organisme rattaché
        </div>
        <div class="col-5 text-left border-bottom p-2 pl-5">
            {% if user.organism.organismName is defined %}
                {{ user.organism.organismName }}
            {% else %}
                Tu n'appartiens à aucun organisme
            {% endif %}
        </div>
    </div>
        <p class="text-right">
            <a href="{{ path('user_edit', {'id': user.id}) }}" class="text-right">> modifier</a>
        </p>
    <div class="row mb-3">
        <p class="secondary-title">Collecte</p>
    </div>
    <div class="row mb-3">
            <div class="offset-2 col-8">
        {% if user.collect is not empty %}
        <p>Collecte à laquelle tu es inscrit : le {{ user.collect.dateCollect ? user.collect.dateCollect|date('d/m/Y à H:i') : '' }} par {{ user.collect.collector.organismName }}</p>
        {% else %}
            <p>Tu n'es inscrit à aucune collecte.</p>
        {% endif %}
            </div>
    </div>
    <div class="row mb-3">
        <p class="secondary-title">Estimations réalisées</p>
    </div>
    {% for estimation in user.estimations | sort() %}
    {# show only estimations validated, and estimation non validated < 15 days #}
        {% set difference = date(estimation.estimationDate()).diff(date("now")) %}
        {% if difference.days < 15 or estimation.isCollected == 1 %}
            <div class="row mb-3 border-bottom pt-2">
                <div class="col-3 font-weight-bold p-3">
                {{ estimation.brand }} {{ estimation.model }}, {{ estimation.capacity }} Go
                </div>
                <div class="col-2 text-center p-3">
                    {{ estimation.maxPrice}} €
                </div>
                {% if estimation.status == 1 %}
                    <div class="col-3 p-3">
                    <p class="text-success">
                        Vendu
                    </p>
                    </div>
                {% elseif estimation.status == 0 %}
                    <div class="col-3 p-3">
                        <p class="text-warning">
                            Non vendu
                        </p>
                    </div>
                    <div class="col-4">
                        <a class="fourth-button mb-3" href="{{ path('mode_envoi', {'id': estimation.id}) }}">
                            Revendre ce téléphone
                        </a>
                    </div>
                {% elseif estimation.status == 2 %}
                    <div class="col-3 p-3">
                        <p class="text-success">
                            En cours d'envoi
                        </p>
                    </div>
                    <div class="col-4">
                        <a class="primary-button mb-3 " href="{{ path('show_etiquette', {'user': user.id, 'estimation': estimation.id}) }}" target="_blank">
                            Voir l'étiquette Chronopost
                        </a>
                    </div>
                    {% elseif estimation.status == 3 %}
                        <div class="col-3 p-3">
                        <p class="text-warning">
                            Refusé
                        </p>
                        </div>
                    {% else %}
                        <div class="col-3 p-3">
                        <p class="text-success">
                            Statut non déterminé
                        </p>
                        </div>
                    {% endif %}
            </div>
        {% endif %}
    {% else %}
    <div class="row mb-3">
        <div class="offset-2 col-8">
            Tu n'as encore estimé aucun téléphone.
            <a href="{{ path('new_estimation') }}" class="primary-button">
                Faire une estimation ?
            </a>
        </div>
    </div>
    {% endfor %}
    <div class="row mb-5">
    </div>
</main>
{% endblock %}
